[Desktop Entry]
Encoding=UTF-8
Name=Link to Tutorial — NetworkX 2.4 documentation
Type=Link
URL=https://networkx.github.io/documentation/stable/tutorial.html#what-to-use-as-nodes-and-edges
Icon=text-html
