[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - Ehsan70/RyuApps: Creates a simple Ryu app using the tutorials and then adds on to it.
Type=Link
URL=https://github.com/Ehsan70/RyuApps
Icon=text-html
