[Desktop Entry]
Encoding=UTF-8
Name=Link to RyuApps/TopoDiscoveryInRyu.md at master · Ehsan70/RyuApps · GitHub
Type=Link
URL=https://github.com/Ehsan70/RyuApps/blob/master/TopoDiscoveryInRyu.md
Icon=text-html
